li {
    list-style: none;
}
  body {
    font-family:'Roboto' ;
    color: rgba(33, 33, 33, 1);
 } 
 
 .contacts {
   text-decoration: none;
 font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.02em;

color: #757575;
 }

 .contacts:hover {
color: rgba(33, 150, 243, 1);
 }

 .contacts:focus {
    color: rgba(33, 150, 243, 1);
 }

 .names {
    position: absolute;
        width: 322px;
        height: 36px;
        left: 239px;
        top: 576px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 171%;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
 }

 .Filter-names {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: #757575;
 }

 .filter-button{
              
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 139%;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
 }
 
.filter-ul .filter:hover 
.filter-ul .filter:focus 
.filter-ul .filter:active {
   color: rgba(33, 150, 243, 1)
}
 

 .Web {
   
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
 }
 .filter-button{
   cursor: pointer;
 }

 